@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    :root {
        --text-50: #ecf8f4;
        --text-100: #daf1e9;
        --text-200: #b5e3d4;
        --text-300: #8fd6be;
        --text-400: #6ac8a9;
        --text-500: #45ba93;
        --text-600: #379576;
        --text-700: #297058;
        --text-800: #1c4a3b;
        --text-900: #0e251d;
        --text-950: #07130f;
        --text-default: #07130f;

        --background-50: #ebfaf5;
        --background-100: #d6f5eb;
        --background-200: #adebd6;
        --background-300: #85e0c2;
        --background-400: #5cd6ad;
        --background-500: #33cc99;
        --background-600: #29a37a;
        --background-700: #1f7a5c;
        --background-800: #14523d;
        --background-900: #0a291f;
        --background-950: #05140f;
        --background-default: #fbfefd;

        --primary-50: #ecf8f2;
        --primary-100: #d9f2e6;
        --primary-200: #b4e4cd;
        --primary-300: #8ed7b4;
        --primary-400: #68ca9b;
        --primary-500: #42bd82;
        --primary-600: #359768;
        --primary-700: #28714e;
        --primary-800: #1b4b34;
        --primary-900: #0d261a;
        --primary-950: #07130d;
        --primary-default: #51c28c;

        --secondary-50: #ecf1f8;
        --secondary-100: #d9e2f2;
        --secondary-200: #b4c5e4;
        --secondary-300: #8ea9d7;
        --secondary-400: #688cca;
        --secondary-500: #426fbd;
        --secondary-600: #355997;
        --secondary-700: #284371;
        --secondary-800: #1b2c4b;
        --secondary-900: #0d1626;
        --secondary-950: #070b13;
        --secondary-default: #9db4dd;

        --accent-50: #ececf8;
        --accent-100: #d9d9f2;
        --accent-200: #b4b4e4;
        --accent-300: #8e8ed7;
        --accent-400: #6868ca;
        --accent-500: #4242bd;
        --accent-600: #353597;
        --accent-700: #282871;
        --accent-800: #1b1b4b;
        --accent-900: #0d0d26;
        --accent-950: #070713;
        --accent-default: #7070cd;

    }
    .dark {
        --text-50: #07130f;
        --text-100: #0e251d;
        --text-200: #1c4a3b;
        --text-300: #297058;
        --text-400: #379576;
        --text-500: #45ba93;
        --text-600: #6ac8a9;
        --text-700: #8fd6be;
        --text-800: #b5e3d4;
        --text-900: #daf1e9;
        --text-950: #ecf8f4;
        --text-default: #ecf8f4;

        --background-50: #05140f;
        --background-100: #0a291f;
        --background-200: #14523d;
        --background-300: #1f7a5c;
        --background-400: #29a37a;
        --background-500: #33cc99;
        --background-600: #5cd6ad;
        --background-700: #85e0c2;
        --background-800: #adebd6;
        --background-900: #d6f5eb;
        --background-950: #ebfaf5;
        --background-default: #010403;

        --primary-50: #07130d;
        --primary-100: #0d261a;
        --primary-200: #1b4b34;
        --primary-300: #28714e;
        --primary-400: #359768;
        --primary-500: #42bd82;
        --primary-600: #68ca9b;
        --primary-700: #8ed7b4;
        --primary-800: #b4e4cd;
        --primary-900: #d9f2e6;
        --primary-950: #ecf8f2;
        --primary-default: #3dae77;

        --secondary-50: #070b13;
        --secondary-100: #0d1626;
        --secondary-200: #1b2c4b;
        --secondary-300: #284371;
        --secondary-400: #355997;
        --secondary-500: #426fbd;
        --secondary-600: #688cca;
        --secondary-700: #8ea9d7;
        --secondary-800: #b4c5e4;
        --secondary-900: #d9e2f2;
        --secondary-950: #ecf1f8;
        --secondary-default: #223a62;

        --accent-50: #070713;
        --accent-100: #0d0d26;
        --accent-200: #1b1b4b;
        --accent-300: #282871;
        --accent-400: #353597;
        --accent-500: #4242bd;
        --accent-600: #6868ca;
        --accent-700: #8e8ed7;
        --accent-800: #b4b4e4;
        --accent-900: #d9d9f2;
        --accent-950: #ececf8;
        --accent-default: #32328f;

    }
}
